Source: helloart
Section: contrib/python
Priority: extra
Maintainer: Chris Fordham <chris@fordham.id.au>
Build-Depends: debhelper (>= 9), python3, python3-venv, python3-dev, dh-virtualenv (>= 1.1), tar
Standards-Version: 3.9.5
Homepage: https://github.com/flaccid/deb-virtualenv-example

Package: helloart
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, python3-venv, ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: hello world with the art package
    .
    This is a distribution of "helloart" as a self-contained
    Python virtualenv wrapped into a Debian package ("omnibus" package,
    all passengers on board). The packaged virtualenv is kept in sync with
    the host's interpreter automatically.
    .
    See https://github.com/spotify/dh-virtualenv for more details.
